.btn {
  background-color: black;
  color: white;
}

#errorMessage {
  color:#ff726b;
}

.btn-link {
  text-decoration:none;
  color:yellow;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

.changed {box-shadow:0 0 4px #58ACFA;}

#changelegend {
	color:#58ACFA;
	visibility:hidden;
}