.btn {
  background-color: black;
  color: white;
}

#errorMessage {
  color:#ff726b;
}

.btn-link {
  text-decoration:none;
  color:yellow;
}

th {
	cursor: pointer; 
}

.table-borderless thead tr th, 
.table-borderless tbody tr th, 
.table-borderless tfoot tr th, 
.table-borderless thead tr td, 
.table-borderless tbody tr td, 
.table-borderless tfoot tr td {
  border-top: none; 
}