{% extends "dashboard-base.html" %}
{% block tophead %}
<script src="/bower_components/platform/platform.js"></script>
<link rel="import" href="/bower_components/google-map/google-map.html">
{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/hitlist-edit.css"/>
	<link rel="stylesheet" type="text/css" href="/css/datepicker.css"/>	
    
    <style type="text/css">
      #map-column {
         height: 300px;
         margin: 0;
      }

       google-map {
        display: block;
        height: 100%;
        margin: -10px;
      }
    </style>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
    	<div class="col-md-8">
			<form class="form-horizontal" role="form" method="post">
			  <h2 class="form-heading">{{eatery.RestaurantName}}</h2>
			  <div class="form-group">
			    <label for="name" class="col-sm-2 control-label">Name</label>
			    <div class="col-sm-5">
			      <input type="text" class="form-control" id="name" value="{{eatery.RestaurantName}}" name="restaurantName" required>	      
			    </div>
			    <p class="errorMessage">{{error_name}}</p>
			  </div>
			  <div class="form-group">
			    <label for="cuisinetype" class="col-sm-2 control-label">Cuisine</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" id="cuisinetype" value="{{eatery.CuisineType}}" name="cuisineType">
			    </div>
			  </div>			  
			  <div class="form-group">
			    <label for="city" class="col-sm-2 control-label">City</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" id="city" value="{{eatery.City}}" name="city">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="state" class="col-sm-2 control-label">State</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" id="state" value="{{eatery.State}}" name="state">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="notes" class="col-sm-2 control-label">Notes</label>
			    <div class="col-sm-6">
			      <input type="text" class="form-control" id="notes" value="{{eatery.NotesComments}}" name="notesComments">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="completed" class="col-sm-2 control-label">Completed</label>
			    <div class="col-sm-2">
				    <select class="input-large form-control" name="completed">
				      <option value="{{eatery.Completed}}" selected="selected">{{eatery.Completed}}</option>
				      {% if eatery.Completed %}
				      	<option value="FALSE">False</option>
				      {% else %}
				      	<option value="TRUE">True</option>
				      {% endif %}
				    </select>
				</div>
			  </div>
			  <div class="form-group">
			    <label for="firsttripdate" class="col-sm-2 control-label">First Trip</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control datepicker" id="firsttripdate" pattern="^\d{1,2}/\d{1,2}/\d{4}"
			      value="{{ eatery.FirstTripDate.strftime('%m/%d/%Y') if eatery.FirstTripDate != None }}" data-date-format="mm/dd/yyyy" name="firstTripDate">
			    </div>
			    <p class="errorMessage">{{error_first_trip}}</p>
			  </div>
			  <div class="form-group">
			    <label for="lastvisitdate" class="col-sm-2 control-label">Last Visit</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control datepicker" id="lastvisitdate" pattern="^\d{1,2}/\d{1,2}/\d{4}"
			      value="{{ eatery.LastVisitDate.strftime('%m/%d/%Y') if eatery.LastVisitDate != None }}" data-date-format="mm/dd/yyyy" name="lastVisitDate">
			    </div>
			    <p class="errorMessage">{{error_last_visit}}</p>
			  </div>
			  <div class="form-group">
			    <label for="numberoftrips" class="col-sm-2 control-label">Number of Trips</label>
			    <div class="col-sm-2">
			      <input type="number" min="0" step="1" pattern="\d+" class="form-control" id="numberoftrips" 
			      value="{{ eatery.NumberOfTrips }}" name="numberOfTrips">
			    </div>
			    <p class="errorMessage">{{error_number_of_trips}}</p>
			  </div>
			  <div class="form-group">
			    <label for="P1Rating" class="col-sm-2 control-label">{{couple.P1Nickname}}'s Rating</label>
			    <div class="col-sm-2">
			      <input type="number" min="0" max="5" step="1" pattern="^\d" class="form-control" id="P1Rating" 
			      value="{{ eatery.P1Rating }}" name="p1Rating">
			    </div>
			    <p class="errorMessage">{{error_p1_rating}}</p>
			  </div>
			  <div class="form-group">
			    <label for="P2Rating" class="col-sm-2 control-label">{{couple.P2Nickname}}'s Rating</label>
			    <div class="col-sm-2">
			      <input type="number" min="0" max="5" step="1" pattern="^\d" class="form-control" id="P2Rating" 
			      value="{{ eatery.P2Rating }}" name="p2Rating">
			    </div>
			    <p class="errorMessage">{{error_p2_rating}}</p>
			  </div>
			  <div class="form-group">
			  	<label for="additionalfields" class="col-sm-2 control-label"></label>
			  	<div class="col-sm-4">	  	
			  		<a href="javascript:void(0);" onClick="toggleFields();" id="additionalfields">Toggle Additional Fields</a>
			  	</div>
			  </div>
			  <div class="form-group additional-field hide">
			    <label for="streetaddress" class="col-sm-2 control-label">Street Address</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" id="streetaddress" value="{{eatery.StreetAddress if eatery.StreetAddress != None}}" name="streetAddress">
			    </div>
			  </div>
			  <div class="form-group additional-field hide">
			    <label for="zipcode" class="col-sm-2 control-label">Zip Code</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" id="zipcode" pattern="^\d{5}" value="{{eatery.ZipCode if eatery.ZipCode != None}}" name="zipCode">
			    </div>
			    <p class="errorMessage">{{error_zip_code}}</p>
			  </div>
			  <div class="form-group additional-field hide">
			    <label for="coordinates" class="col-sm-2 control-label" id="coordinatesLabel">Coordinates</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" id="coordinates" value="" title="These coordinates are used to map this eatery and are from Google's geocoding api." disabled>
			    </div>
			  </div>
			  <div class="form-group additional-field hide">
			    <label for="yelpbusinessid" class="col-sm-2 control-label">Yelp Business ID</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" id="yelpbusinessid" value="{{eatery.YelpBusinessID if eatery.YelpBusinessID != None}}" name="yelpBusinessID" title="A Yelp-Business-ID will help us gather more information about the restaurant.">
			    </div>
			  </div>			  
			  <input type="hidden" value="{{eatery.key().id()}}" name="id">
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-default" name="submit" value="Submit">Submit</button>
			      <button type="button" class="btn btn-default" name="cancel" value="Cancel" onClick="window.location='/'">Cancel</button>
			    </div>			    
			  </div>
			  <p id="changelegend">Boxes highlighted in blue are fields you've edited.</p>
			</form>

	    </div>
	    <div class="col-md-4" id="map-column">
	    <br>
		 	<google-map id="gmap" latitude="36.1215" longitude="-115.1739" zoom="14">
		    </google-map>
	    </div>
	  </div>
</div> <!-- /.container -->
{% endblock %}
{% block footer %}	
    <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>    
    <script>
      var current_values = {"name":"{{eatery.RestaurantName|safe}}"
        					,"cuisinetype":"{{eatery.CuisineType}}"
        					,"city":"{{eatery.City}}"
        					,"state":"{{eatery.State}}"
        					,"notes":"{{eatery.NotesComments}}"
        					,"firsttripdate": "{{eatery.FirstTripDate.strftime('%m/%d/%Y') if eatery.FirstTripDate != None}}"
        					,"lastvisitdate": "{{eatery.LastVisitDate.strftime('%m/%d/%Y') if eatery.LastVisitDate != None}} "
        					,"numberoftrips": "{{ eatery.NumberOfTrips }}"
        					,"P1Rating": "{{ eatery.P1Rating }}"
        					,"P2Rating": "{{ eatery.P2Rating }}"
        					,"streetaddress": "{{eatery.StreetAddress}}"
        					,"zipcode": "{{eatery.ZipCode}}"
        					,"yelpbusinessid": "{{eatery.YelpBusinessID}}"
        					,"latitude": "{{eatery.Latitude if eatery.Latitude != None}}"
        					,"longitude": "{{eatery.Longitude if eatery.Longitude != None}}"
  	  					};
      $(document).ready(function(){
      	// var map = document.querySelector('google-map');      	 
      	//  map.addEventListener('google-map-ready', function(e) {
      	//    alert('Map loaded!');
     //  	   if ( $( '.datepicker' ).length ) {
     //  	   	alert("Datepicker Selected!");
     //  	   	var dateFields = document.getElementsByClassName('datepicker');
	  		// var i =  dateFields.length;
	  		// while(i--){
	  		// 	dateFields[i].datepicker();
	  		// }      	   	
     //  	   }
      	   $('.datepicker').datepicker()
      	   .on('changeDate', function(ev){
      	   if ($(this).val() != current_values[$(this).attr('id')]){
      	     	$(this).addClass("changed");
      	     	// Show changelegend
      	     	$('#changelegend').css("visibility","visible");          	
      	     }
      	     else {
      	     	$(this).removeClass("changed");          	
      	     }
      	   });     	

      	 // });
      	// $('.datepicker').datepicker()
      	// .on('changeDate', function(ev){
      	// if ($(this).val() != current_values[$(this).attr('id')]){
      	//   	$(this).addClass("changed");
      	//   	// Show changelegend
      	//   	$('#changelegend').css("visibility","visible");          	
      	//   }
      	//   else {
      	//   	$(this).removeClass("changed");          	
      	//   }
      	// });     	
    
      	if (current_values.latitude && current_values.longitude){
      		//alert("Yes there is one");
      		document.getElementById('coordinates').value = current_values.latitude + "," + current_values.longitude;      	
      	}
      	else{
      		// Change label of coordinates to include geocoding button
      	 	var b = document.createElement("a");
      	 	b.setAttribute('href',"javascript:void(0);");
      		b.setAttribute('id','geocodeButton');
      	 	b.setAttribute('data-toggle','tooltip')
      	 	b.setAttribute('title','Get the latitude and longitude for the given address')
      	 	b.innerHTML = "Geocode";
      	 	var coordinateLabel = document.getElementById('coordinatesLabel');
      	 	coordinateLabel.innerHTML = "";
      	 	coordinateLabel.appendChild(b);
      	 	$('#geocodeButton').tooltip();
        }
      });
	  
      
      // Controllers for additional field toggling.
	  var visible = false;
	  function toggleFields(){
	  	var hiddenInputs = document.getElementsByClassName('additional-field');
	  	var i =  hiddenInputs.length;
	  	var $addfields = $('.additional-field');
	  	if (visible){
	  		while(i--) {
        		hiddenInputs[i].classList.add('hide');
    		}
    		// Placed here because of stupid Firefox bug.
    		visible = ! visible;
           	$addfields.slideUp('fast',function(){
          	  if (!$addfields.hasClass('hide')){
          	  	$addfields.addClass('hide');
          	  }
           	    $addfields.slideDown(0);
           	});            	
        }
        else{
         	while(i--) {
        		hiddenInputs[i].classList.remove('hide');
    		}
    		// Placed here because of stupid Firefox bug.
    		visible = ! visible;
           	$addfields.slideUp(0,function(){
           	  if ($addfields.hasClass('hide')){
           	  	$addfields.removeClass('hide');
           	  }
           	  	$addfields.slideDown('fast');
           	});        		
        }        
        // Return False to prevent from following link.
        return false;
	  }
	  // Activate correct header on navigation panel.	    
	  var navElement = document.getElementById("nav_hitlist");
	  navElement.classList.add("active");
      // Indicate changed field.      
      $('input').bind('input', function() {
          if ($(this).val() != current_values[$(this).attr('id')]){
          	$(this).addClass("changed");
          	// Show changelegend
          	$('#changelegend').css("visibility","visible");
          	//alert($(this).val() + "|" + current_values[$(this).attr('id')]);
          }
          else {
          	$(this).removeClass("changed");
          	//alert('Not the same son!');
          }
      });
      $('select').change(function() {
      	if ($(this).val() != "{{eatery.Completed}}") {
      		$(this).addClass("changed");
      		$('#changelegend').css("visibility","visible");
      	}
        else {
        	$(this).removeClass("changed");
        	$('#changelegend').css("visibility","hidden");
        }                
      });
      //$('[rel=tooltip]').tooltip();
      
    </script>
{% endblock %}