{% extends "dashboard-base.html" %}

{% block content %}
    <div class="container">

    <form class="form-signin" role="form" method="post">
      <div class="row">
        <div class="col-md-4">
         <h2 class="form-signin-heading">Search</h2>       
         <input type="text" class="form-control" placeholder="Resturant Name" name="search_string" value="" required autofocus>
         <h4 id="error">{{error_search}}</h4>
         <div class="form-group">            
            <select class="combobox input-large form-control" name="attribute">
              <option value="" selected="selected">Select an attribute</option>
              <option value="RestaurantName">Restaurant Name</option>
              <option value="City">City</option>
              <option value="State">State</option>
              <option value="CuisineType">Cuisine Type</option>           
            </select>
          </div>
         <button class="btn btn-lg btn-primary btn-block" type="submit" name="search" value="Submit">Search</button>
         <button class="btn btn-lg btn-primary btn-block" type="submit" name="undo_search" value="Undo" onClick="window.location='/'">Clear Search</button>
         <h4 id="error">{{successMsg}}</h4> 
        </div>
        </div>
    </form>

    </div><!-- /.container -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <h2 class="sub-header">HitList</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>             
                  <th>Restaurant Name</th>
                  <th>Cuisine Type</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Notes</th>
                  <th>Completed</th>
                </tr>
              </thead>
              <tbody>
                {% for e in hitlist %}
                    <tr>                        
                        <td>                            
                            <form role="form" method="post">
                                <button class="btn btn-small btn-primary" type="submit" name="edit" value="{{ e.RestaurantName }}">Edit</button>
                            </form>
                        </td>
                        <td>{{ e.RestaurantName }}</td>
                        <td>{{ e.CuisineType }}</td>
                        <td>{{ e.City }}</td>
                        <td>{{ e.State }}</td>
                        <td>{{ e.NotesComments }}</td>
                        <td>{{ e.Completed }}</td>
                    </tr>
                {% endfor %}                               
              </tbody>
            </table>
          </div>
        </div>
        </div>     
</div><!-- /.container -->
{% endblock %}
{% block footer %}
    <link rel="stylesheet" type="text/css" href="/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-combobox.css"/>
    <script src="/js/bootstrap-combobox.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.combobox').combobox();    
        $('#nav_hitlist').addClass('active');;
      });
    </script>
{% endblock %}