{% extends "dashboard-base.html" %}

{% block content %}
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content   ">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <!-- <h4>Modal Body</h4> -->
                <p id="modal-notes"></p>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>                
                    </tbody>
                  </table>
                </div>
            </div>
    </div>
  </div>
</div>
    <div class="container">
      <h2>Search</h2>
      <form class="form-inline" role="form" method="post">        
        <div class="form-group">
          <label class="sr-only" for="searchString">Search String</label>
          <input type="text" class="form-control" placeholder="Search String" name="search_string" value="" id="searchString" required autofocus>
        </div>
        <div class="form-group">
          <label class="sr-only" for="searchAttribute">Search Attribute</label>
          <select class="input-large form-control" name="attribute" id="searchAttribute" required>
            <!-- <option value="" selected="selected">Select an attribute</option> -->
            <option value="RestaurantName" selected="selected">Restaurant Name</option>
            <option value="City">City</option>
            <option value="State">State</option>
            <option value="CuisineType">Cuisine Type</option>           
          </select>
        </div>
        <button class="btn btn-small btn-primary" type="submit" name="search" value="Submit">Search</button>
        <button class="btn btn-small btn-primary" type="button" name="undo_search" value="Undo" onClick="window.location='/'">Clear Search</button>
      </form>
    </div><!-- /.container -->
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="/edit?id=new">
            <button class="btn btn-large btn-primary" type="submit" name="create" value="Create">Create New Entry</button>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <h2 class="sub-header">HitList</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="hitlist">
              <thead>
                <tr>
                  <th></th>             
                  <th>Restaurant Name</th>
                  <th>Cuisine Type</th>
                  <th>City</th>
                  <th>State</th>
                  <th>View Notes</th>
                  <th>Completed</th>                  
                </tr>
              </thead>
              <tbody>
                {% for e in hitlist %}
                    <tr>                        
                        <td>                            
                            <a href="/edit?id={{e.key().id()}}">
                                <button class="btn btn-small btn-primary" type="submit" name="edit" value="{{ e.RestaurantName }}">Edit</button>
                            </a>
                        </td>
                        <td class='eatery-row' value="{{e.key().id()}}">{{ e.RestaurantName }}</td>
                        <td>{{ e.CuisineType }}</td>
                        <td>{{ e.City }}</td>
                        <td>{{ e.State }}</td>
                        <td>
                          <a href="#" class="btn btn-small btn-primary notes-button"
                             data-toggle="modal" data-target="#basicModal"
                             value="{{e.key().id()}}">View Notes         
                          </a>
                        </td>
                        <td class='eatery-row'>{{ e.Completed }}</td>                        
                    </tr>
                {% endfor %}                               
              </tbody>
            </table>
          </div>
        </div>
        </div>     
</div><!-- /.container -->

{% endblock %}
{% block footer %}
    <link rel="stylesheet" type="text/css" href="/css/admin.css"/>    
    <script src="/js/jquery.tablesorter.min.js"></script>
    <script async src="/js/hitlist.js"></script>   
    <script type="text/javascript">
      $(document).ready(function(){
        //$('.combobox').combobox();
        $('#nav_hitlist').addClass('active');
        $("#hitlist").tablesorter();
        
        $('#basicModal').on('hidden.bs.modal',function(e){
          // set modal contents back to empty
          $('#modal-notes').empty();
          // set modal header back to empty
          $('#myModalLabel').empty();     
        });        
      });
      function init() {
          // Disable notes button before api is ready.
          $('.notes-button').attr('disabled',true);        
          ra.hitlist.init('//' + window.location.host + '/_ah/api');
      }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>  
{% endblock %}