<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu|Open+Sans' rel='stylesheet' type='text/css'>    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/starter.css" rel="stylesheet">
    <title>Relationship Analytics</title>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Relationship Analytics</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#contact">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

    <form class="form-signin" role="form" method="post">
      <div class="row">
        <div class="col-md-4">
         <h2 class="form-signin-heading">Search by name</h2>       
         <input type="text" class="form-control" placeholder="Resturant Name" name="search_string" value="" required autofocus>
         <h4 id="error">{{error_search}}</h4>   
         <button class="btn btn-lg btn-primary btn-block" type="submit" name="search" value="Submit">Search</button>
         <button class="btn btn-lg btn-primary btn-block" type="submit" name="undo_search" value="Undo" onClick="window.location='/'">Clear Search</button>
         <h4 id="error">{{successMsg}}</h4> 
        </div>
        </div>
    </form>

    </div><!-- /.container -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <h2 class="sub-header">HitList</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>             
                  <th>Restaurant Name</th>
                  <th>Cuisine Type</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Notes</th>
                  <th>Completed</th>
                </tr>
              </thead>
              <tbody>
                {% for e in hitlist %}
                    <tr>                        
                        <td>                            
                            <form role="form" method="post">
                                <button class="btn btn-small btn-primary" type="submit" name="edit" value="{{ e.RestaurantName }}">Edit</button>
                            </form>
                        </td>
                        <td>{{ e.RestaurantName }}</td>
                        <td>{{ e.CuisineType }}</td>
                        <td>{{ e.City }}</td>
                        <td>{{ e.State }}</td>
                        <td>{{ e.NotesComments }}</td>
                        <td>{{ e.Completed }}</td>
                    </tr>
                {% endfor %}                               
              </tbody>
            </table>
          </div>
        </div>
        </div>     
</div><!-- /.container -->

    <link rel="stylesheet" type="text/css" href="/css/admin.css"/>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>